.lower-nav {
    height: 61px;
    box-sizing: border-box;
    /* padding-top: 11px; */
}

/* .lzd-logo-content {
    display: inline-block;
    width: 140px;
    height: 48px;
    vertical-align: top;
    position: relative;
    bottom: 7px;
    z-index: 1111;
} */

.logo {
    width: 130px;
}

.nav-draz-logo{
    width: 120px;
    height: 48px;
    margin-bottom: 8px;
}

.lzd-logo-content {
    display: inline-block;
    width: 130px;
    height: 200px;
    vertical-align: top;
    position: relative;
}

.lzd-nav-search {
    width: 746px;
    display: inline-block;
    z-index: 1111;
    position: relative;
    line-height: 38px;
}

.logo-bar-content {
    height: 90%;
}

.header-content {
    margin: 0 auto;
}

.lzd-header-full .lzd-nav-search {
    transition: height .25s;
}

.dropdown button {
    background-color: #f75605;
    border: none;
    padding: 15px;
    font-weight: 900;
    font-size: 12px;

}

.dropdown button:hover {
    background-color: transparent; /* or inherit, or initial */
    border-color: transparent; /* or inherit, or initial */

}

.lower-nav-search {
    margin-bottom: 0;
    width: 53%;
    margin-left: -6px;
}

.lower-nav-search input {
    height: 70%;
    border-radius: 12px;
    margin-top: 6px;
    width: 102.7%;
}

.login-btn {
    /* width: 22%; */
    color: #fff9f5;
    /* margin-left: 5px; */
}

.login-btn span {
    color: #fff9f5;
    font-size: 12.5px;
    font-weight: 700;
    margin-left: 9px
}

.lower-nav-cart svg {
    color: white;
    height: 100%;
    width: 25px;
}

.categories-dropdown {
    align-items: center;
    /* justify-content: flex-end; */
    margin-left: 27px;
    margin-right: 4px;
    /* padding: 0px 3px; */

    margin-bottom: 7px;
}

.categories-dropdown a {
    text-decoration: none;
    color: #fff9f5;
    font-size: 12px;
    line-height: 40px;
    font-weight: 700;
    text-align: left;
}
.categories-dropdown svg {
    color: white;
    font-size: 27px;
    font-weight: bold;
    padding: -7px;

    /* margin-right: -7px; */
    margin-left: -4px;
    margin-top: 1px;

}

.language-btn{
    font-weight: bold;
    font-size: 15px;
}


.lower-nav-cart svg {
    color: white;
    height: 100%;
    width: 30px;
}

.hover-effect:hover{
    background: #de4d04;
    cursor: pointer;
}