.bradcrumb p {
    vertical-align: middle;
    color: #1a9cb7;
    padding: 0 4px;
    font-size: 14px;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    white-space: nowrap;
    line-height: 16px;
}

.product-main-card {
    background: #fff;
}

.product-pic-card {
    width: 28.5% !important;
}

.product-detail-card {
    width: 42.5% !important;
}

.product-location-card {
    width: 29% !important;
    background-color: #fafafa;
}

.gallery-preview-panel {
    border-bottom: 1px solid #eff0f5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 9px;
    position: relative;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.gallery-preview-panel__content {
    position: relative;
    overflow: hidden;
    height: 330px;
    width: 330px;
    text-align: center;
    margin: 8px 0 10px 8px;
}

.gallery-preview-panel__image {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.gallery-preview-panel .tag-img-box {
    position: absolute;
    left: 8px;
    bottom: 10px;
    display: -ms-flexbox;
    display: flex;
}

.next-slick.next-slick-horizontal.next-slick-outer {
    padding: 0 24px;
}

.next-slick, .next-slick *, .next-slick :after, .next-slick :before {
    box-sizing: border-box;
}

.next-slick {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.next-slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    transform: translateZ(0);
}

.next-slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    transform: translateZ(0);

    opacity: 1;
    width: 797.5px;
    transform: translate3d(0px, 0px, 0px);
}

.item-gallery__thumbnail:not(:last-child) {
    margin-right: 14px;
}

item-gallery__thumbnail {
    height: 52px;
    box-sizing: border-box;
}

.item-gallery__thumbnail-video {
    border-radius: 2px;
    cursor: pointer;
}

.next-slick-initialized .next-slick-slide {
    display: block;
}

.next-slick-slide  {
        outline: none;
    width: 52px;
}

.next-slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: 0;
    transition: all .3s cubic-bezier(.86,0,.07,1);
}


.item-gallery__video-icon {
    display: inline-block !important;
    width: 36px;
    height: 24px;
}

.product-detail h3 {
    color: #212121;
    font-size: 22px;
    font-weight: 400;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.rating-section .rating img {
    width: 13px;
    height: 13px;
    margin-top: 5px;
}
.rating-section .rating span {
        color: #1a9cb7;
font-size: 12px;
margin-top: 3px;
margin-left: 3px
}

.heart-icon-product{
    height: 20px;
    width: 20px;
    margin-top: 6px;
}

.favrt-share {
    width: 21%;
    justify-content: space-evenly;
}

.brand {
        color: #9e9e9e;
    font-size: 12px;
}
.brand-section a {
        color: #1a9cb7;
        font-size: 12px;
        text-decoration: none;
}

.price-section .total-price {
    color: #f85606;
    font-size: 30px;
}

.pdp-price_type_deleted {
    text-decoration: line-through;
}

.pdp-price_size_xs {
    font-size: 14px;
}

.pdp-price_color_lightgray {
    color: #9e9e9e;
}

.pdp-price {
    white-space: nowrap;
}

.pdp-product-price__discount {
    font-size: 14px;
    color: #212121;
    margin-left: 6px;
}
.pdp-mod-promotion-tags {
    padding-top: 4px;
}

.pdp-mod-product-info-section {
    padding: 8px 0;
}

.pdp-mod-promotion-tags .section-title {
    margin-top: 4px;
    height: 24px;
    line-height: 24px;
}

.pdp-mod-product-info-section .section-title {
    display: inline-block;
    margin: 0;
    width: 92px;
    color: #757575;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
}

.pdp-mod-product-info-section .section-content {
    display: inline-block;
    width: calc(100% - 92px);
}

.pdp-mod-promotion-tags .promotion-tag-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 4px 15px 4px 0;
    max-width: 100%;
}

.promotion-tag-item.has-arrow {
    padding-right: 25px;
    cursor: pointer;
}

.promotion-tag-item {
    display: inline-block;
    position: relative;
    padding: 0 12px 0 8px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    background-color: #f57224;
}


.promotion-tag-item.has-arrow:before {
    position: absolute;
    top: 10px;
    right: 7px;
    content: "";
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 4px;
}

.promotion-tag-item .tag-name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.promotion-tag-item:after {
    position: absolute;
    top: 0;
    right: -7px;
    display: inline-block;
    content: "";
    border-color: #ff9800 transparent;
    border-style: solid;
    border-width: 12px 7px;
}

.sku-selector {
    border-top: 1px solid #eff0f5;
}

.sku-prop-selection {
    padding-top: 25px;
    padding-bottom: 0;
}

.pdp-mod-product-info-section {
    padding: 8px 0;
}

.sku-prop-selection .section-title {
    line-height: 18px;
}

.pdp-mod-product-info-section .section-title {
    display: inline-block;
    margin: 0;
    width: 92px;
    color: #757575;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
}

.pdp-mod-product-info-section .section-content {
    display: inline-block;
    width: calc(100% - 92px);
}


.sku-prop-content-header {
    position: relative;
    min-height: 18px;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    line-height: 18px;
}

.sku-prop-content-header .sku-name {
    position: absolute;
    bottom: 0;
    max-height: 36px;
    overflow: hidden;
}


.sku-prop-content-header:after {
    display: block;
    content: "";
    clear: both;
}

.sku-prop-content-header {
    position: relative;
    min-height: 18px;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    line-height: 18px;
}

.sku-prop-content {
    max-height: 168px;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-size: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sku-prop-content .sku-variable-img-wrap-disabled:hover, .sku-prop-content .sku-variable-img-wrap-selected, .sku-prop-content .sku-variable-img-wrap-selected:hover, .sku-prop-content .sku-variable-img-wrap:hover {
    border-color: #f57224;
}

.sku-prop-content .sku-variable-img-wrap, .sku-prop-content .sku-variable-img-wrap-disabled, .sku-prop-content .sku-variable-img-wrap-selected {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-top: 8px;
    margin-right: 12px;
    overflow: hidden;
    width: 36px;
    height: 36px;
    text-align: center;
    border: 1px solid #eff0f5;
    border-radius: 2px;
    padding: 1px;
}

.sku-prop-content {
    max-height: 168px;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-size: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sku-prop-content .sku-variable-img, .sku-prop-content .sku-variable-img-disabled, .sku-prop-content .sku-variable-img-selected {
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.pdp-common-image, .pdp-common-image .lazyload-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.pdp-common-image {
    text-align: center;
}

.pdp-common-image, .pdp-common-image .lazyload-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.pdp-common-image .image {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

img {
    border-style: none;
}

.sku-prop-content .sku-variable-img-wrap-disabled .sku-variable-img-icon, .sku-prop-content .sku-variable-img-wrap-selected .sku-variable-img-icon, .sku-prop-content .sku-variable-img-wrap .sku-variable-img-icon {
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: -2px;
    cursor: pointer;
}

.sku-prop-content .sku-variable-img-wrap-disabled:after, .sku-prop-content .sku-variable-img-wrap-selected:after, .sku-prop-content .sku-variable-img-wrap:after {
    display: inline-block;
    content: "";
    width: 0;
    height: 100%;
    vertical-align: middle;
}

.sku-prop-content {
    max-height: 168px;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-size: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quantity-section span {
    font-size: 14px;
        color: #757575;
        font-weight: 400;
        margin-top: 6px;
}

.pdp-cart-concern {
    margin-top: 8px;
    border-radius: 2px;
    line-height: 44px;
    color: #fff;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}




.add-to-cart-buy-now-btn {
    padding: 0;
    width: 225px;
    text-align: center;
    margin-right: 10px;
}
.pdp-button_theme_bluedaraz {
    border: 1px solid #2abbe8;
    background: #2abbe8;
    color: #fff;
}

.pdp-button_size_xl {
    height: 44px;
    font-size: 16px;
    padding: 0 60px;
}
.pdp-button {
    padding: 0 24px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    outline: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.add-to-cart-buy-now-btn {
    padding: 0;
    width: 225px;
    text-align: center;
    margin-right: 10px;
}

.pdp-button_theme_bluedaraz {
    border: 1px solid #2abbe8;
    background: #2abbe8;
    color: #fff;
}

.pdp-button_size_xl {
    height: 44px;
    font-size: 16px;
    padding: 0 60px;
}

.add-to-cart-buy-now-btn {
    padding: 0;
    width: 225px;
    text-align: center;
    margin-right: 10px;
}

.pdp-button_theme_orange {
    border: 1px solid #f57224;
    background: #f57224;
    color: #fff;
}
.pdp-button_size_xl {
    height: 44px;
    font-size: 16px;
    padding: 0 60px;
}
.pdp-button {
    padding: 0 24px;
    border-radius: 2px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    outline: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.pdp-button_theme_bluedaraz:hover {
    border-color: #26abd4;
    background: #26abd4;
}

.pdp-button_theme_orange:hover {
    background: #d0611e;
}

.delivery-header {
    display: table;
    padding: 20px 16px 2px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.delivery-header__title {
    display: table-cell;
    font-size: 12px;
    color: #757575;
    font-weight: 500;
    width: 300px;
}

.delivery-header__tooltip {
    display: table-cell;
    text-align: right;
}

.delivery {
    font-size: 14px;
    background-color: #fafafa;
    color: #212121;
}

.delivery__header {
    margin-bottom: 8px;
    border-bottom: 1px solid #eff0f5;
}

.delivery__location, .delivery__option .delivery-option-item {
    padding: 10px 16px;
}

.delivery__location .location__current {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.location__body {
    display: table;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.delivery__location .location__address {
    max-width: 140px;
    word-break: break-word;
}

.location__address {
    display: table-cell;
    vertical-align: middle;
    color: #202020;
    padding-right: 15px;
}

.delivery__location .location__link-change {
    font-weight: 500;
}

.location__link-change {
    display: table-cell;
    vertical-align: middle;
    color: #009db4;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
}

.location-link_size_xs {
    font-size: 13px;
}

.location-link, .location-link:visited {
    color: #1a9cb7;
}

.delivery__content {
    position: relative;
    padding-bottom: 4px;
}

.delivery__location, .delivery__option .delivery-option-item {
    padding: 10px 16px;
}

.delivery-option-item__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-collapse: collapse;
    width: 100%;
}

.delivery-option-item__icon {
    display: table-cell;
    padding-right: 6px;
    width: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.delivery-option-item__info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    vertical-align: middle;
}

.delivery-option-item__title {
    line-height: 20px;
    color: rgb(32, 32, 32);
}

.delivery-option-item__info_small {
    font-size: 12px;
}


.delivery-option-item__subtitle, .delivery-option-item__time {
    color: #9e9e9e;
    font-size: 12px;
    line-height: 12px;
}

.delivery-option-item__shipping-fee {
    font-weight: 500;
    font-family: Roboto-Medium;
    padding-left: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    white-space: nowrap;
    vertical-align: middle;
}

.delivery__location, .delivery__option .delivery-option-item {
    padding: 10px 16px;
}


.delivery-option-item__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-collapse: collapse;
    width: 100%;
}

.delivery-option-item__info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    vertical-align: middle;
}
.delivery-option-item__title {
    line-height: 20px;
}

.seller-container {
    background-color: #fafafa;
    font-size: 12px;
    color: #212121;
    margin-top: 10px;
}

.seller-name-retail {
    margin-top: 8px;
    background-color: #fafafa;
    padding: 13px 16px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.seller-name-retail .seller-name__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.seller-name__title {
    color: #757575;
    font-size: 12px;
    margin-bottom: 4px;
}

.seller-name__detail {
    font-size: 16px;
}
.seller-name-retail .seller-im-wrapper {
    width: 85px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 14px;
}

wrapper .seller-im-content {
    cursor: pointer;
    color: #199cb7;
    font-size: 14px;
    font-family: Roboto-Medium;
}

.seller-name-retail .seller-im-wrapper .seller-im-content {
    cursor: pointer;
    color: #199cb7;
    font-size: 14px;
    font-family: Roboto-Medium;
}

.pdp-seller-info-pc {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #eff0f5;
}

.pdp-seller-info-pc .info-content:first-child {
    border-left: none;
    padding-left: 16px;
}

.pdp-seller-info-pc .info-content {
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #eff0f5;
    font-size: 14px;
    text-align: left;
    display: table-cell;
    width: 33.3333333333%;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}
.pdp-seller-info-pc .info-content .seller-info-title {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
    height: 28px;
    overflow: hidden;
    color: #757575;
}

.pdp-seller-info-pc .info-content .seller-info-value.rating-neutral, .pdp-seller-info-pc .info-content .seller-info-value.rating-positive {
    color: #1a1a1a;
}

.pdp-seller-info-pc .info-content .seller-info-value {
    font-size: 26px;
    line-height: 30px;
}

.pdp-seller-info-pc .info-content .seller-info-value {
    font-size: 26px;
    line-height: 30px;
}


.pdp-seller-info-pc .info-content {
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #eff0f5;
    font-size: 14px;
    text-align: left;
    display: table-cell;
    width: 33.3333333333%;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}

.pdp-seller-info-pc .info-content .seller-info-title {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
    height: 28px;
    overflow: hidden;
    color: #757575;
}

.pdp-seller-info-pc .info-content .seller-info-value.gray-text {
    font-size: 12px;
    color: #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
}

.pdp-seller-info-pc .info-content .seller-info-value {
    font-size: 26px;
    line-height: 30px;
}

.seller-link {
    padding: 15px;
    text-align: center;
    font-weight: 500;
    font-family: Roboto-Medium;
    border-top: 1px solid #eff0f5;
}

.pdp-link_size_xs {
    font-size: 13px;
}
.pdp-link, .pdp-link:visited {
    color: #1a9cb7;
}